<div data-lift="Surround?with=default;at=content">
  <div class="center aligned one column ui grid" data-lift="MachineReport">
    <div class="column">
      <div class="ui four steps">
        <a href="javascript: void(0)" class="ui step">Title</a>
      </div>
    </div>
    <div class="column">
      <a id="csvLink" href="javascript: void(0)" class="ui right floated primary button">Export CSV File</a>
    </div>
    <div class="column">

      <div class="ui one column page hidden grid" id="notFoundBlock">
        <div class="column">
          <div class="ui icon error message">
            <i class="inbox icon"></i>
            <div class="content">
              <div class="header">查無資料</div>
              <p>尚無相關資料，或目前無法取得錯誤統計，請稍候再試。</p>
            </div>
          </div>
        </div>
      </div>

      <div id="loadingIndicator">
        <div data-lift="embed?what=loading"></div>
      </div>

      <div class="ui two column page grid">
        <div class="column"><svg class="pieChart"></svg></div>
        <div class="column" style="margin-top: 40px;" data-lift="LazyLoad?template=loading">
          <table class="ui right floated celled table" data-lift="TopFiveDefact">
            <thead>
              <tr><th class="center aligned" colspan="5">前五大不良原因</th></tr>
              <tr>
                <th class="ui center aligned">機台</th>
                <th class="ui center aligned">事件</th>
                <th class="ui center aligned">數量</th>
                <th class="ui center aligned">製程</th>
                <th class="ui center aligned">日期</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row">
                <td class="ui center aligned machineID">E01</td>
                <td class="ui center aligned defactID">TP位置不良</td>
                <td class="ui center aligned badQty">312</td>
                <td class="ui center aligned stepTitle">組立</td>
                <td class="ui center aligned date">2015-01-05</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <input type="hidden" id="dataURL" value="<%= dataURL %>" />
      <input type="hidden" id="threshold" value="<%= threshold %>" />
    </div>

    <script>

      var dataURL = $('#dataURL').val();
      var threshold = $('#threshold').val();

      $.ajax(dataURL, {timeout: 30 * 1000}).done(function(data) {

        if (!data.dataSet || data.dataSet.length == 0) {
          $('#notFoundBlock').show();
          $('#loadingIndicator').hide();
          return;
        }

        var drawPieChart = pieChart({
          width: 400,
          height: 400,
          radius: 180,
          threshold: threshold,
          extractValue: function(data) { return data.value; },
          extractName: function(data) { return data.name; }
        })

        drawPieChart(".pieChart", data.dataSet);

      }).always(function() {
        $('#loadingIndicator').hide();
      }).error(function() {
        $('#notFoundBlock').show();
      });
    </script>
  </div>
</div>

