html, body {
  padding: 0px;
  background-color: #CEECF5;
  margin-right: 10px;
}

.ui.main.menu {
  margin-top: 10px;
  padding-top: 5px;
  opacity: 0.8;
}

#lift__noticesContainer___error ul {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -1em;
}
